.auth-header {
    width: 100%;

    text-align: center;

    margin: 0;
}


.auth-title-container {
    display: flex;

    justify-content: center;

    align-items: flex-start;

    gap: 7px;
}


.auth-title.MuiTypography-root {
    margin: 0;

    font-size: 36px;

    line-height: 1.15;

    font-weight: 700;

    letter-spacing: -0.8px;

    color: #252525;
}


.auth-title-icon.MuiSvgIcon-root {
    margin-top: 3px;

    font-size: 17px;

    color: #f05c78;
}


.auth-subtitle.MuiTypography-root {
    margin-top: 7px;

    font-size: 14px;

    line-height: 1.5;

    color: #858585;
}


@media (max-width: 480px) {

    .auth-title.MuiTypography-root {
        font-size: 31px;
    }


    .auth-subtitle.MuiTypography-root {
        font-size: 14px;
    }

}